@import '../../styles/common/common.scss';
.header-top {
  height: 198px;
  width: 100%;
  background: url('../../assets/images/welcome_nologin_bg.png') no-repeat;
  background-size: 100%;
  &.has-login {
    background-image: url('../../assets/images/welcome_haslogin_bg.png');
  }
  .content-box {
    width: 100%;
    height: 198px;
    display: table;
    color:#ffffff;
    .align-box {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      .btn_login {
        margin-top: 20px;
        font-size: 18px;
        color: #fff;
      }
      .info-box {
        div {
          margin-bottom: 4px;
        }
        .mobile {
          font-size:16px;
          line-height: 22px;
        }
        .name {
          font-size: 18px;
          line-height: 25px;
        }
        .bank {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
  .portrait {
    i, img {
      width: 80px;
      height: 80px;
      font-size: 80px;
      border-radius: 50%;
      color: #fff;
      display: inline-block;
      position: relative;
    }
    i {
      top: -6px; 
    }
  }
}

// 滚动新闻
.flash-news {
  height: 44px;
  line-height: 44px;
  font-size: 12px;
  background: #fff;
  color: #666;
  overflow: hidden;
  .flag {
    i {
      color: $main-color;
      margin: 0 9px;
    }
  }
  .anim {
    transition: all 0.5s;
    margin-top: -44px;
  }
  #news-scroller li {
      list-style: none;
      line-height: 44px;
      height: 44px;
  }
}

// 产品
.prd-module {
  margin: 8px;
  background: #fff;
  border-radius: 4px;
  height: 246px;
  padding: 10px;
}
.prd-module.feature-set {
  .feature-box {
    .list {
      margin-right: -2px;
      li {
        width: 50%;
        border-bottom: 2px solid rgba(204, 204, 204 , .2);
        border-right: 2px solid rgba(204, 204, 204 , .2);
        margin-bottom: -2px;
      }
    }
  }
}
.set-module {
  margin-top: 10px;
}
.feature-set {
  margin: 8px;
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  .tit {
    height: 15px;
    line-height: 15px;
    font-size:14px;
    color:#666666;
    .line {
      display: inline-block;
      width: 3px;
      background: $main-color;
      height: 15px;
      margin-right: 6px;
    }
  }
  .feature-box {
    overflow: hidden;
    padding-top: 10px;
    .list {
      li {
        i {
          color: #ebebeb;
        }
        position: relative;
        float: left;
        width: 33%;
        height: 104px;
        text-align: center;
        padding: 10px 0;
        .iconfont {
          font-size: 30px;
        }
        .name {
          margin-top: 10px;
          line-height: 20px;
          font-size: 14px;
          color: #666;
        }
        .desc {
          margin-top: 2px;
          line-height: 16px;
          font-size: 12px;
          color: #999;
        }
      }
    }
  }
}