@charset "utf-8";
/* z-index */
$z-index: 9999 1000 900 100;

/*
 9001 - 9999 用于 错误提示框
 8001 - 8999 用于header
 2000-2999用于popup > mask
 90用于介于提示框和footer之间的元素
 80用于footer
*/

/* 头部高度 */
$header-h: 44px;/*no*/

/*  头部返回按钮颜色 */
$header-back-color: #3b8fd7;

$header-font-size: 16px;/*no*/

/* 底部高度 */
$footer-h: 31px;/*no*/
/* 主色 */
$main-color: #3b8fd7;
$main-icon-color: $main-color;
$main-btn-color: $main-color;
$main-border-color: #b8b6b6;

/*  头部背景颜色 */
$header-bg: #fff;
/*  头部标题颜色
$header-color: $main-color;

/* 辅色 */
$secondary-color: #edf7fe;

/* 左右间隙 */
$gap: 10px 15px 20px 25px 30px;
/* 圆角 */
$border-radius: 0.05rem;
/* 页面背景色 1: 页面背景 */
$bg-color: #ebebeb #ebf4ff #edf7fe #e1f2fe #f2f2f2;
/* 状态背景色 */
$bg-color-sta: #e4e4e4;
/* 边框颜色 */
$border-color: #f0f0f0 #d8d8d8 #eeeeee;
/* 文字颜色 */
$f-color: #333 #666 #999 #aaa;
/* 未启用 */
$un-able-color: #b8b6b6;
/*  浅水印灰 */
$thin-mark-gray: #efefef;
/*  浅灰 */
$light-gray: #ccc;
/*
 * #333用于重要信息
 * #555用于一般正文
 * #a5a5a5用于非重要信息
 * #ddd用于输入框的placeholder及一些不可点击时字体颜色
 */

/* 常用文字大小 */
$f-size: 12px 14px 16px 18px 20px;
/* 红色 */
$red: #EC3400;
/* 绿色 */
$green: #4CB548;
/* 报告页 */
$successTxt:#417505;
$failTxt:#d0021b;

$active: #f9f9f9;
