.am-navbar-light {
  border-bottom: 1px solid #f2f1f1;
  .am-navbar-title {
    font-size: $header-font-size !important;
    color: $main-color !important;
  }
}
.am-navbar-left {
  padding-left: 3px !important;
}
.am-navbar-left-icon {
  margin-right: 0 !important;
}

// 按钮字体 
.am-button-small {
  font-size: 14px !important;
}